@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --dorado:#EABE3F;
    --doradoDifuminado: rgba(234, 190, 63,0.6) ;
    --pink: #e5345b;
    --grisFondo: #171515;
   
}

* {
    margin: 0;
    box-sizing: border-box;
  }
body{
    font-family: var(--sm-font);
    background-color: var(--grisFondo);
  
}



/*  ----------- NavBar propio*/


.header {
    background-color: #000;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;

  }
  .header :hover{
    background: none;
    color: var(--doradoDifuminado);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .nav-link {
    height: 100%;
    color: white;
    text-decoration: none;
    max-height: 80;;
  }
  
  .logo {
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 75px;
    max-height: 80px;
    
  }
  .logo img {

    max-height: 50px;
    
  }
  
  .nav-menu {
    height: 100%;
    max-height: 80px;
    display: flex;
    margin-right: 40px;
    list-style: none;
    margin: 0;
    padding-right: 25px;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
  }

  .nav-menu-item a:hover{
    background: none;
  }

  .nav-menu-link {
    padding: 8px 5px;
    border-radius: 3px;
    color: var(--dorado);
  }

  

  .nav-menu-cart {
    background: none;
    border-style: none;
    color: var(--dorado);
    line-height: -10px;
    height: 80px;
    padding-bottom: 5px;
  }
  
  .nav-menu-link:hover{
    background-color: #034574;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  


  @media (max-width:940px){
    .nav-menu{
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;

      height: calc(100% - 60px);
      overflow-y: auto;

      left: 100%;
      transition: left 0.3s;
    }
    .nav-toggle {
      display: block;
    }


  }



/*----------------*/




/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--dorado)!important;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}



/*  Container form        */
.formulario{
    position: relative;
    margin: 50px auto;
    background-color: black;
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 10px 10px;
    color: var(--dorado);
    border-radius: 10px;
    border-style: solid;
}

.formulario h2{
    outline: none;
    display: block;
    width: 70%;
    font-size: 2rem;    
    margin: 35px auto;
}

.formulario label{
    text-align: left;
    outline: none;
    display: block;
    width: 85%;
    margin: 1px auto;
}

.formulario input[type="text"],input[type="password"]{
    outline: none;
    padding: 10px;
    display: block;
    width: 85%;
    max-width: 700px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 5px auto 25px;
}
/* .formulario input[type="password"]{
    margin-bottom: 5px;
} */

.formulario input[type="button"]{
    padding: 10px;
    background: var(--dorado);
    max-width: 400px;
    width: 65%;
    margin: 30px auto 25px;
    font-size: larger;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    height: 70px;
}
.formulario input[type="button"]:hover{

    background-color: var(--doradoDifuminado);

}

.linkLogin{
    width: 85%;
    margin: auto;
    text-align: right;
}

.linkLogin a{ 
  color: var(--dorado); 
    text-decoration: none;
    width: 85%; 
    
}
.formulario a:hover{
    color: var(--doradoDifuminado);
}

.linkRegistro{
    width: 85%;
    margin: auto;
    text-align: center;
}
.linkRegistro h3{
    font-size: 100%;
}
.linkRegistro a{
    color: white;
}
.alerta{
  color: red;
  font-size: x-large;
}

.miCuenta{
  position: relative;
  margin: 50px auto;
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 10px 10px;
  color: var(--dorado);
  border-radius: 10px;
}

.miCuenta h2{
  margin: 1%;
}
.miCuenta p{
  margin: inherit;
  margin: 2% 1%;
  color: white;
  font-size: xx-large;
}
.miCuenta a{
  background-color: var(--dorado);
  color: #000;
  margin: auto;
  width: 50%;
  font-size: x-large;
  border-style: solid;
  border-color: var(--dorado);
}
.miCuenta a:hover{
  background-color: var(--doradoDifuminado);
  border-color: var(--doradoDifuminado);
  color: #000;
}


/* ---------------- Footer -------------------------*/

.containerFooter{
  background-color: #000;
  padding: 1.5% 4% 1%;
  font-weight: bold;
  font-family: var(--sm-font);

}
footer{
  background-color: #000;

}
footer img{
  width: 100px;
  

}


.container{
  margin-top: 3%;
  margin-bottom: 4%;
  max-width: 1300px;
 
}

.card{
  background-color: var(--dorado);
  border-style: solid;
  border-width: 3px;
  border-color: var(--dorado);
  color: #000;
}


