*{
    margin: 0;
    text-decoration: none;
}


header{
    width: 100%;
    height: 80px;
    position: absolute;
    align-items: center;
    display: flex;   
    background-color: black;
}

header img{
    max-height: 40px;
    margin: 20px;

}

.nav_menu{
    width: 70%;
    height: 60px;
    margin: 10px 2%;

}
.nav_links li{
    display: inline-block;
    margin: 3% 3%;
    font-size: 125%;
}
.nav_links a:hover{
    border-color: #1c4a80ab;
    border-style: solid;
    border-width: .5px;
    background: #1c4a80ab;
}

body{
    background-color: #171515;
}